.page_container {
    display: flex;
    flex-direction: column;
    /* width: 21cm;
    height: 29.7cm; */
    padding: 10px;
    color: black;
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    flex-direction: row;

}

/* .make_it_parallel {
    
} */

@media print {
    .page_container {
        color: red;
    }
}

@page {
    margin: 0cm;
    size: A4 portrait;
}