.page_wrap {
    display: flex;
    flex-direction: column;
}

.page_container {
    width: 21cm;
    min-height: 29.7cm;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}

.make_it_parallel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media print {
    .page_container {
        color: red;
    }
}

@page {
    margin: 0cm;
    size: A4 portrait;
}

.contact {
    width: 27%;
    margin-top: 20px;
    background-color: rgb(50, 50, 50);
    color: white;
}

.about_me {
    margin-top: 20px;
}


.color {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.blue {
    margin: 10px;
    color: rgb(0, 0, 102);
    border: solid;
    border-radius: 100%;
    border-width: 2px;
    border-color: white;
}

.black {
    margin: 10px;
    color: rgb(0, 0, 0);
    border: solid;
    border-radius: 100%;
    border-width: 2px;
    border-color: white;
}

.green {
    margin: 10px;
    color: rgb(7, 66, 0);
    border: solid;
    border-radius: 100%;
    border-width: 2px;
    border-color: white;
}

.gray {
    margin: 10px;
    color: rgb(50, 50, 50);
    border: solid;
    border-radius: 100%;
    border-width: 2px;
    border-color: white;
}