.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 10px;
    font-size: large;
}

.title_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid;
    margin-bottom: 8px;

}


.title {
    display: flex;
    width: 250px;
    font-weight: 800;
    font-size: x-large;
    margin-bottom: 2px;

}

.icon {
    margin-right: 10px;
}

.email {
    display: flex;
    margin: 2px 0px;
    align-items: center;


}

.phone {
    display: flex;
    margin: 2px 0px;
    align-items: center;


}

.inner_text {
    color: rgb(127, 128, 129);

}