.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 100vw;
    background: linear-gradient(135deg, #dfe6e9, #b2bec3);
}

.header {
    display: flex;
    background-color: rgb(39, 39, 39);
    flex-direction: row;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}

.header a {
    margin: 5px;
}

.logo {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    justify-content: center;
    height: 10vh;
    align-items: center;
    filter: drop-shadow(0px .5px .6px #2f2f2f);
    margin-left: 20px;
}

.logo_image {
    margin: 10px;
    width: 30px;
}

.logo_text {
    color: rgb(255, 255, 255);
    font-size: 25px;

}

.head_line {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: rgb(39, 39, 39);
    height: 1vh;
    filter: drop-shadow(0px 2px 1.5px #2f2f2f);
}

.edit_heading {
    display: flex;
    margin: 20px 0;
    color: black;

}

.edit_heading:hover {
    cursor: grab;


}


.body {
    display: flex;
    flex-direction: row;
    color: black;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 100px;
    flex-wrap: wrap;

}

/* .edit_component {
    transform: scale(1);
} */

@media only screen and (max-width: 550px) {
    .edit_component {
        transform: scale(.42);
        margin-top: -320px;

    }

    .body {
        justify-content: center;

    }
}


.edit_component {
    display: flex;
    flex-direction: row-reverse;
}

.download_button {

    margin-top: 89px;
}


.container {
    display: flex;
    list-style: none;
}